
**/.DS_Store
NXSYSMac.build_log.txt
**/UserInterfaceState.xcuserstate

NXSYSWindows/NXSYS/.#NXSYS.vcxproj
*.xcuserstate
*.xref
Documentation/.~lock.Interlocking Logic Design.odt#
*.lst
*.tko
*.html#
*.sb-0cc332cf-h5x1X6
Interlockings/Interlockings-2022-02-23.zip
MacPackagingTool/.#make_dmg.sh
MacPackagingTool/__pycache__/getversion.cpython-39.pyc
NXSYSMac.xcodeproj/project.xcworkspace/xcuserdata/bsg.xcuserdatad/UserInterfaceState.xcuserstate
NXSYSMac.xcodeproj/project.xcworkspace/xcuserdata/bsg.xcuserdatad/UserInterfaceState.xcuserstate
*.odt#
*.xcuserstate
*.xcuserstate
DocSource/.~lock.TLEdit.oth\#
TLEdit.build_log.txt
NXSYSMac.xcodeproj/project.xcworkspace/xcuserdata/bsg.xcuserdatad/UserInterfaceState.xcuserstate
NXSYSMac.xcodeproj/project.xcworkspace/xcuserdata/bsg.xcuserdatad/UserInterfaceState.xcuserstate
NXSYSMac.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NXSYSMac.xcodeproj/project.xcworkspace/xcuserdata/bsg.xcuserdatad/UserInterfaceState.xcuserstate
NXSYSMac.xcodeproj/project.xcworkspace/xcuserdata/bsg.xcuserdatad/UserInterfaceState.xcuserstate
