#include <windows.h>
#include "commands.h"
#include "traindlg.h"
#include "ssdlg.h"
//#include "appcomv.h"
#include "nxvc.rc"

#define VER_PRIVATEBUILD 0
#define VER_COMPANYNAME_STR "Bernard Greenberg"
#define VER_FILEDESCRIPTION_STR "NXSYS Signalling and Interlocking Simulator"
#define VER_INTERNALNAME_STR "NXSYS V2 main app"
#define VER_LEGALCOPYRIGHT_STR "Copyright (c) 1994-2022 Bernard Greenberg"
#define VER_PRERELEASE 0
#define VER_LEGALTRADEMARKS1_STR ""
#define VER_LEGALTRADEMARKS2_STR ""
#define VER_ORIGINALFILENAME_STR "nxv2.exe"
#define VER_PRODUCTNAME_STR VER_FILEDESCRIPTION_STR

RELAYICON ICON "relay.ico"
NXICON ICON "nx2.ico"

#ifndef IDC_STATIC
#define IDC_STATIC -1
#endif

RLYTRMEN MENU
BEGIN
  POPUP "&Control"
    BEGIN
      MENUITEM "&Clear",     CmTrClear
      MENUITEM "&Hide",      CmTrHide
      MENUITEM "Enable &MORE breaks", CmTrMortoggle
//      MENUITEM "&Draw relay..." CmShowRelayCircuit
    END
END

NXSYS MENU
BEGIN
  POPUP "&File"
    BEGIN
      MENUITEM "&Open...",      CmOpen
      MENUITEM "&Reload\tCtrl+R",    CmReload
      POPUP "Interlocking &Library..."
      BEGIN
         MENUITEM "Dummy", ID_1DUMY
      END
      POPUP "&Recent Files..."
      BEGIN
         MENUITEM "Dummy", ID_1DUMY
      END
      MENUITEM "File &Info...", CmFileInfo
      MENUITEM SEPARATOR
      MENUITEM "&Demo...",     CmDemo
#ifdef NXOLE
#ifdef RT_PRODUCT
      MENUITEM "RT&Script...",     CmDemoScript
#else
      MENUITEM "NX&Script...",     CmDemoScript
#endif
      MENUITEM "&Command Dialog\tAlt+X", CmCommandDlg
#endif
      MENUITEM SEPARATOR
#ifdef APPDEMO
      MENUITEM "&Print Logic...", CmPrintLogic,GRAYED
      MENUITEM "Print Logic &File...", CmPrintLogicFile,GRAYED
#else
      MENUITEM "&Print Logic...", CmPrintLogic
      MENUITEM "Print Logic &File...", CmPrintLogicFile
#endif
      MENUITEM SEPARATOR
      MENUITEM "E&xit",      CmQuit
    END
  POPUP "&Interlocking"
    BEGIN
      MENUITEM "Clear all &track", CmClearTrack
      MENUITEM "Cancel all si&gnals", CmCancelSignals
      MENUITEM "Release all &approach locking\tCtrl+A", CmReleaseApproach
      MENUITEM "Clear all au&x switch levers", CmClearAllAuxLevers
      MENUITEM "Normal all s&witches", CmNormalSwitches
      MENUITEM "All the a&bove", CmResetAllAbove
      MENUITEM SEPARATOR	
      MENUITEM "Bobble all signal repeaters (&Y)", CmBobbleRGPs
      MENUITEM SEPARATOR
      MENUITEM "Enable automatic &control", CmAutoOp
    END
  POPUP "&Trains"
    BEGIN
      MENUITEM "&New",       CmNewTrain
      MENUITEM "New (sto&pped)" CmNewTrainStopped
      MENUITEM "&Halt all",  CmHaltTrains
      MENUITEM "&Kill all",  CmKillTrains
      MENUITEM "&Minimize all", CmHideTrainWindows
      MENUITEM "&Show all", CmShowTrainWindows
    END
#ifdef NXOGL
  POPUP "&Cab View"
   BEGIN
     MENUITEM "&Show Cab View", CmCabView
     MENUITEM "&Unload Cab View", CmUnloadCabView
     MENUITEM "&Auto Engage Trains", CmAutoEngageTrains, CHECKED
   END  
#endif
  POPUP "&Relays"
   BEGIN
     MENUITEM "&Query...", CmRelayQuery
     MENUITEM "&Trace...", CmRelayTrace
     MENUITEM "Show &Circuit...", CmShowRelayCircuit
   END	
  POPUP "&Other"
   BEGIN
     MENUITEM "&Flush Sig Wins", CmFlushSigWins
     MENUITEM "&Show Stops...",     CmShowStops
     MENUITEM "S&cale display...",  CmScaleDisplay
     MENUITEM "&Right click = menu",  CmRightClickMenuMode
   END
  POPUP "&Help"
    BEGIN
#ifndef RT_PRODUCT
      MENUITEM "&Usage/Help",    CmUsage
#endif
      MENUITEM "&About..."  CmAbout

#ifdef RT_PRODUCT
      MENUITEM "&Info", CmV2Info
#endif
    END
END

NXACC ACCELERATORS {
        VK_SPACE, CmPauseDemo, VIRTKEY
	"A",    CmReleaseApproach,  VIRTKEY, CONTROL, NOINVERT
	"R",    CmReload,  VIRTKEY, CONTROL, NOINVERT
	"X",    CmCommandDlg,  VIRTKEY, ALT, NOINVERT
	VK_F1, CmUsage,		VIRTKEY,NOINVERT
	VK_RIGHT, CmScrollRight, VIRTKEY,NOINVERT
	VK_LEFT, CmScrollLeft,	VIRTKEY,NOINVERT
	VK_RIGHT, CmPageRight, VIRTKEY,CONTROL,NOINVERT
	VK_LEFT, CmPageLeft,	VIRTKEY,CONTROL,NOINVERT
	VK_UP, CmScrollUp,	VIRTKEY,NOINVERT
	VK_DOWN, CmScrollDown,	VIRTKEY,NOINVERT
	VK_PRIOR, CmPageUp,	VIRTKEY,NOINVERT
	VK_NEXT,  CmPageDown,	VIRTKEY,NOINVERT
	VK_HOME,  CmHome, VIRTKEY,NOINVERT
	VK_END,  CmEnd, VIRTKEY,NOINVERT
	VK_ESCAPE, CmHaltDemo, VIRTKEY
}

about_box DIALOG 21, 49, 190, 107
STYLE WS_POPUP | WS_DLGFRAME |DS_MODALFRAME
BEGIN
	CONTROL "NXSYS Version 2 Interlocking Simulator", ABOUT_PRODUCT_NAME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 4, 168, 8
	CTEXT "Written by Bernard S. Greenberg", -1, 12, 18, 152, 8, WS_CHILD | WS_VISIBLE | WS_GROUP

	CTEXT "in MSVC++  17", -1, 12, 30, 160, 8

	DEFPUSHBUTTON "OK", IDOK, 76, 86, 24, 14
	CONTROL "Built:", ABOUT_BUILD, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 30, 51, 58, 8
	CTEXT "Copyright (c) 1994-2022 B. Greenberg", -1, 8, 64, 160, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL, "Version 2.6 (32-bit MS Windows)", ABOUT_NUM_VSN, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 42, 136, 8
	CTEXT "All Rights Reserved", -1, 40, 74, 96, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	ICON "NXICON", -1, 12, 82, 16, 16
	CONTROL "27 June 12:24:02 1994", ABOUT_VSN, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 88, 51, 83, 8
END


#define TRD_OBSERVANT 40

Train DIALOG 24, 100, 103, 114
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU |WS_MINIMIZEBOX
CAPTION "Simulated Train Control"
BEGIN
	RADIOBUTTON "Observant", TRD_OBSERVANT, 5, 4, 48, 12
	RADIOBUTTON "Free Will", TRD_DEFIANT, 5, 16, 48, 12
#ifndef NXV2
	LTEXT "Northbound", TRD_NORTHSOUTH, 2, 32, 40, 8, WS_GROUP
#endif
	LTEXT "Len:", -1, 2, 42, 16, 8
	LTEXT "642", TRD_LENGTH, 20, 42, 16, 8
	LTEXT "Speed:", -1, 2, 62, 26, 8
	LTEXT "300/300", TRD_SPEED, 30, 62, 30, 8
	LTEXT "Last signal:", -1, 2, 80, 42, 8
	LTEXT "None", TRD_LAST_SIG_NAME, 46, 80, 26, 8
	CONTROL "Y  Y", TRD_LAST_SIG_STATE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 76, 80, 24, 8
	LTEXT "Next signal:", -1, 2, 89, 42, 8
	LTEXT "A4-385", TRD_NEXT_SIG_NAME, 46, 89, 26, 8
	LTEXT "Y S Y", TRD_NEXT_SIG_STATE, 75, 89, 24, 9
	SCROLLBAR TRD_MC, 62, 4, 9, 64, SBS_VERT | WS_CHILD | WS_VISIBLE
	CTEXT "0", -1, 61, 69, 11, 7, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 2, 2, 56, 28
	PUSHBUTTON "&Halt", TRD_HALT, 76, 23, 24, 14, WS_TABSTOP
	PUSHBUTTON "&Kill", TRD_KILL, 76, 42, 24, 13, WS_TABSTOP
	LTEXT "Loc:", -1, 2, 52, 14, 8
	LTEXT "A4-999", TRD_LOC, 20, 52, 37, 8
	LTEXT "10", TRD_TRAIN_ID, 88, 11, 11, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "#", -1, 77, 11, 6, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Full Spd", -1, 72, 2, 30, 8
	PUSHBUTTON "CO", TRD_COPB, 44, 40, 16, 10, WS_TABSTOP
	PUSHBUTTON "&Rev", 44, 76, 61, 24, 14
	CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 1, 78, 102, 23
	CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 74, 22, 28, 54
#ifdef WIN32
	CONTROL "Engage Cab View", TRD_CABVIEW, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 101, 85, 12
#endif
END


#ifdef NXV2
ChooseTrack DIALOG 60, 0, 133, 47
STYLE WS_POPUP | WS_DLGFRAME |DS_MODALFRAME
BEGIN
	CTEXT "Click on end of track", -1, 13, 2, 108, 8
	CTEXT "Train will enter there.", -1, 11, 24, 110, 8
	CTEXT "Click elsewhere or ESC to cancel.", -1, 6, 34, 120, 8
END
#else
ChooseTrack DIALOG 60, 0, 133, 47
STYLE WS_POPUP | WS_DLGFRAME |DS_MODALFRAME
BEGIN
	CTEXT "Click on track for new train", -1, 13, 2, 108, 8
	CTEXT "Train will enter in usual direction.", -1, 11, 24, 110, 8
	CTEXT "Click elsewhere or ESC to cancel.", -1, 6, 34, 120, 8
	CTEXT "or type track number.", -1, 21, 14, 90, 8
END
#endif

ShowStops DIALOG 91, 24, 86, 71
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Show Train Stops"
BEGIN
	RADIOBUTTON "Only when tripping", SHOW_STOPS_RED, 6,4, 76, 12, WS_GROUP
	RADIOBUTTON "At all times", SHOW_STOPS_ALWAYS, 6, 20, 76, 12
	RADIOBUTTON "Never", SHOW_STOPS_NEVER, 6, 36, 76, 12
	DEFPUSHBUTTON "OK", IDOK, 6, 52, 24, 14
	PUSHBUTTON "Cancel", IDCANCEL, 48, 52, 30, 14, WS_GROUP
END


CancelPrintDlgBox DIALOG 40, 40, 120, 40
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Relay Printing in Progress..."
BEGIN
	CTEXT "Cancel Printing?", -1, 4, 6, 112, 12
	DEFPUSHBUTTON "Cancel", IDCANCEL, 44, 22, 32, 14, WS_GROUP
END


IDD_SCALE DIALOG DISCARDABLE  40, 0, 207, 107
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Scale Screen Display"
BEGIN
    LTEXT           "Please enter display scale, floating point (e.g. 1.234) is acceptable.",
                    IDC_STATIC,34,18,101,27
    EDITTEXT        IDC_SCALE_EDIT,34,55,51,14,ES_AUTOHSCROLL
    LTEXT           "Current screen display pixels per pixel of layout virtual screen",
                    IDC_STATIC,92,51,100,27
    PUSHBUTTON      ".5",IDC_SCALE_P5,6,7,19,14
    PUSHBUTTON      ".7",IDC_SCALE_P7,6,32,19,14
    PUSHBUTTON      ".8",IDC_SCALE_P8,6,57,19,14
    PUSHBUTTON      "1",IDC_SCALE_1,6,82,19,14
    CTEXT           "Current virtual screen origin will be maintained",
                    IDC_STATIC,34,92,163,8
    DEFPUSHBUTTON   "OK",IDOK,146,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,146,24,50,14
END


IDD_INTERACTOR DIALOG DISCARDABLE  25, 0, 240, 95
STYLE DS_MODALFRAME | DS_3DLOOK | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU | WS_VISIBLE
CAPTION "Command Line Interactor (Modeless Dialog!)"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Script &Command Line:",IDC_STATIC,7,7,89,8
    EDITTEXT        IDC_CLI_CMD,14,22,162,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "E&xecute",IDOK,190,22,43,14
    PUSHBUTTON	    "&Help", IDHELP, 190,44,43,14
    PUSHBUTTON      "Cancel",IDCANCEL,183,65,50,14
    LTEXT           "Status:",IDC_STATIC,7,41,38,8
    LTEXT	    "", IDC_CLI_STATUS,6,53,169,35
END


// 1 Dec 2016 copied from MS Web posting

#define VER_FILEVERSION             2,6,0,0
#define VER_FILEVERSION_STR         "2.6.0.0\0"

#define VER_PRODUCTVERSION          2,6,0,0
#define VER_PRODUCTVERSION_STR      "2.6\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	(VER_PRIVATEBUILD|VER_PRERELEASE|VER_DEBUG)
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
            VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END

