.nxsys {font-family:AppleGothic;font-size:smaller}
nxf {font-family:AppleGothic;font-size:smaller}
.menu {font-family:Helvetica}
mf {font-family:Helvetica}
.warning {color:#F0F;font-weight:bold}
.h1little {font-size:14;font-weight:normal}
